.categorySwitch {
    min-height: 48px;
    font-family: Laksaman;
    text-align: center;
    font-size: 24px;
    color: #C97D0F;
    background-color: #4F76B8;
    top: 5px;
}

a {
    color: #C97D0F;
    text-decoration: none;
}
