.form-group{
  margin-bottom: 40px; 
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fbc55e;
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 106, 3, 0.54);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.52);
    height: 23px;
    width: 24px;
    border-radius: 25px;
    background: #d8ffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #feebc7;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fbc55e;
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 106, 3, 0.54);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.52);
    height: 23px;
    width: 24px;
    border-radius: 25px;
    background: #d8ffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #e89a06;
    border: 0.2px solid rgba(0, 106, 3, 0.54);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #fbc55e;
    border: 0.2px solid rgba(0, 106, 3, 0.54);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0.52);
    height: 23px;
    width: 24px;
    border-radius: 25px;
    background: #d8ffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fbc55e;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #feebc7;
  }
  